<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="textOverImg">
          <h1>Tu Casa en la Nube</h1>
        </div>
        <div class="imgCarrousel">
            <img src="./images/TecHouse_banner.jpeg" alt="imagen carrousel">
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>